<nav class="ui inverted grey menu">
    <header class="header item"><a href="/"> MyTweet </a></header>
    <div class="right menu">
        <a id="timeline"   class= "item" href="/admin_timeline"><i class="world large icon"></i></a>
        <a id="userslist"  class= "item" href="/userslist"><i class="users large icon"></i></a>
        <a id="social_graph" class= "item" href="/social_graph"><i class="bar chart large icon"></i></a>
        <a id="logout" class= "item" href="/logout"> <i class="sign out large icon"></i></a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>