<section>
    <table class="columns">
        <tr>
            <td><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
</section>