<section class="ui raised segment">
    <div class="ui two column grid ">
        <div class="six wide column">
            <aside class="six wide column">
                <img src="images/tweet.jpg" class="ui medium image">
            </aside>
        </div>
        <div class="ui form ten wide column">
            <h5>Enter your text here 140 char max</h5>
            <form action="/posttweet" method="POST">
                <div class="field">
                    <textarea maxlength="140" name="text" id="text" placeholder="What's on your mind?"></textarea>
                </div>
                <button class="ui grey submit button"><i class="twitter icon"></i>Post</button>
            </form>
            {{> formerror }}
        </div>
    </div>
</section>