<section class="ui raised segment">
    <div class="ui two column grid ">
        <div class="ui form ten wide column">
            <form action="/tweet" method="POST">
                <button class="ui blue submit button">Tweet</button>
            </form>
        </div>
        <div class="six wide column">
            <aside class="six wide column">
                <img src="images/tweet1.jpg" class="ui medium image">
            </aside>
        </div>
    </div>
</section>