<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/timeline.jpg" class="ui medium image">
        </aside>
        <article class="eight wide column">
            <h4>Tweets</h4>
            <table class="ui striped table segment">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        </article>
    </div>
</section>