<nav class="ui inverted grey menu">
    <header class="header item" id="main"><a href="/">Home</a> </header>
    <div class="right menu">
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>