{{> adminmenu _id='timeline'}}

<section class="ui raised segment">

    {{> global_timeline }}
    <script>
        document.getElementById("senderEmail").setAttribute('disabled', 'disabled');
    </script>


    <div class="ui  divider"></div>

</section>