{{> welcomemenu _id="main" }}

<section class="ui stacked segment">
    <div class="ui three column grid">
        <div class="ui four wide column">
            <img src="images/welcome.png" class="ui medium image">
        </div>
        <div class="ui six wide column">
            <h2> Welcome to MyTweet</h2>
            <p> Connect with your friends — and other fascinating people.<br>
                Get in-the-moment updates on the things that interest you.<br>
                And watch events unfold, in real time, from every angle.
            </p>
            <p>
                You need to create an account to use our Services.<br>
                You are responsible for safeguarding your account, so use a strong password and limit its use to this account.
            </p>
            <a id="signup" class="ui basic grey tiny button" href="/signup"><i class="user icon"></i>Create new account</a>
        </div>
        <div class="ui six wide column fluid form">
            <div class="ui stacked segment">
                <form action="/authenticate" method="POST" id="loginForm">
                    <h5 class="ui header">Sign in</h5>
                    <div class="field">
                        <label>Username</label> <input placeholder="Email" type="text"
                                                       name="email">
                    </div>
                    <div class="field">
                        <label>Password</label> <input type="password" name="password">
                    </div>
                    <button class="ui tiny grey submit button"><i class="sign in icon"></i>Sign in</button>
                </form>
                {{> formerror }}
            </div>
            <div class="ui message">
                Login as administrator <a href="/admin_login"><em>here</em></a>
            </div>
        </div>
    </div>
</section>