{{> mainmenu }}

<section class="ui raised segment">

    {{> timeline }}
    <script>
        document.getElementById("checkbox").setAttribute('disabled', 'disabled');
        document.getElementById("delete_tweet").style.display = "none";
        document.getElementById("or").style.display = "none";
        document.getElementById("delete_all").style.display = "none";
    </script>
    <div class="ui  divider"></div>

</section>